version: "3.9"

services:
  db:
    image: postgres:15
    container_name: django_db
    restart: always
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    container_name: django_web
    command: >
      sh -c "
      python manage.py migrate &&
      gunicorn DjangoUsersProject.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://django_user:django_password@db:5432/django_db
    depends_on:
      - db

volumes:
  postgres_data:
